[Unit]
Description=DIND Cache Prune

Conflicts=dind-cache.service
After=dind-cache.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker volume prune -f
