[Unit]
Description=DIND Maintenance

# https://unix.stackexchange.com/a/362883
# Should work but doesn't
# So we either need to stick a command in crontab to run both, or call systemctl from here and make selinux mad

Requires=dind-wipe.service
After=dind-wipe.service

[Service]
Type=oneshot

# Gotta have a start or a stop
ExecStart=/bin/true

# Just guess which were on and turn them on
ExecStopPost=/usr/bin/sh -c '/bin/systemctl is-enabled dind-cache.service && /bin/systemctl start dind-cache.service'
ExecStopPost=/usr/bin/sh -c '/bin/systemctl is-enabled gitlab-runner.service && /bin/systemctl start gitlab-runner.service'
