[Unit]
Description=DIND Cleanup Job

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop docker.service docker.socket var-lib-docker-volumes.mount
# VERIFY VOLUME MOUNT NAME AND FS TYPE
ExecStart=/usr/bin/sh -c '/sbin/mkfs.xfs $(/usr/bin/systemctl show --property=What var-lib-docker-volumes.mount | /bin/cut -d= -f 2)'
ExecStart=/usr/bin/systemctl start var-lib-docker-volumes.mount docker.socket docker.service 
